body{
background-color: red;

}
.yozuv{
color: white;
background-color: aqua;
text-align: center;
}
.div{

border-radius: 10px;
background-color: bisque;
}
.a{
background-color: rgb(32, 255, 32);


}
.box{
border-radius: 10px;
width: 350px;
height: 350px;
background-color: white;
text-align: center;
border: 1px solid black;

}
.aba{
    border-radius: 10px;
    width: 350px;
    height: 350px;
    background-color: whitesmoke;
    text-align: center;
    border: 1px solid black;
      
   
  
    
}
.mustash{
    border-radius: 10px;
    width: 350px;
    height: 350px;
    background-color: white;
    text-align: center;
    border: 1px solid black;
      
}
img{
width: 150px;
height: 120px;


}
.mama{
background-color:wheat



}






















































